.home {
    width: 100%;
    height: 100vh;
    overflow: auto;
    display: flex;
    font-size: 1.1rem;
    color: black;
    transition: 1s color ease-in-out;
}

.home-dark-mode {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 1.1rem;
    transition: 2s color ease-in-out;
    color: rgb(212, 212, 212);
    /* background-color: #212327; */
    position: relative;
}

.home::-webkit-scrollbar {
    width: 10px;
}

/* Track */

.home::-webkit-scrollbar-track {
    background: white;
    border-radius: 5px;
    box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.3);
}

/* Handle */

.home::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
}

/* Handle on hover */

.home::-webkit-scrollbar-thumb:hover {
    background: blue;
}

.choice {
    position: absolute;
    width:100%;
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    cursor: pointer;
}

.col1 {
    width: 25vw;
    z-index: 99;
    margin-top: 1.5rem;
}

.col2 {
    z-index: 99;
    width: 70vw;
    margin-top: 1.5rem;
}

.dark-mode {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #212327;
    transition: 2s height linear;
}

.bright-mode {
    position: absolute;
    height: 0%;
    width: 100%;
    /* background-color: white; */
    background-color: #212327;
    transition: 1s height ease-in-out;
}

.col1 fieldset {
    width: 90%;
    margin: 5%;
    border-radius: 1rem;
    -webkit-box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.3);
    box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.3);
    padding: 0.6rem;
}

.col2 fieldset {
    max-width: 95%;
    margin: 5vh;
    border-radius: 1rem;
    -webkit-box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.3);
    box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    transition: 500ms;
}

.col2 fieldset:hover {
    transition: 500ms;
    padding: 1.1rem;
    -webkit-box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.5);
    box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.5);
}

#box1 {
    border: 2px solid #03adfc;
}

#box2 {
    border: 2px solid #f8b500;
}

#box3 {
    border: 2px solid #1dcf17;
}

#box4 {
    border: 2px solid #fd7e14;
}

.row {
    display: flex;
    align-items: center;
}

.row1 {
    display: flex;
}

.col3 {
    width: 42vw;
    margin-right: 3vw;
}

.col4 {
    width: 28vw;
}

#i {
    font-size: 70px;
    margin-right: 3vw;
}

@media only screen and (max-width: 850px) {
    .home {
        flex-direction: column;
    }
    .home-dark-mode {
        flex-direction: column;
    }
    .col1 {
        width: 100vw;
    }
    .col2 {
        width: 100%;
    }
    .row1 {
        flex-direction: column;
    }
    .col3 {
        width: 100%;
    }
    .col4 {
        width: 100%;
    }
    .col1 fieldset {
        max-width: 80%;
        margin: 5%;
        padding-left: 0.6rem;
        padding-bottom: 20px;
    }
}