
.home{
    width:100%;
    display: flex;
    font-size: 1.1rem;
}
.col1{
    width:25vw;
}
.col2{
    width:70vw;
}
.col1 fieldset{
    width:90%;
    margin:5%;
    border-radius: 1rem;
    -webkit-box-shadow: 6px 6px 14px rgba(0,0,0,0.3);
    box-shadow: 6px 6px 14px rgba(0,0,0,0.3);
    padding: 0.6rem;
}
.col2 fieldset{
    max-width:95%;
    margin:5vh;
    border-radius: 1rem;
    -webkit-box-shadow: 6px 6px 14px rgba(0,0,0,0.3);
    box-shadow: 6px 6px 14px rgba(0,0,0,0.3);
    padding: 0.5rem;
    transition: 500ms;
}

.col2 fieldset:hover{
    transition: 500ms;

    padding:1rem;
    -webkit-box-shadow: 6px 6px 14px rgba(0,0,0,0.5);
    box-shadow: 6px 6px 14px rgba(0,0,0,0.5);
} 
#box1{
    border: 2px solid #03adfc;
}
#box2{
    border: 2px solid #fc3103;
    
}
#box3{
    border: 2px solid #1dcf17;
}
#box4{
    border: 2px solid #fd7e14;
}

.row{
    display: flex;
    align-items: center;
}
.row1{
    display: flex;
}
.col3{
    width:42vw;
    margin-right: 3vw;
}
.col4{
    width:28vw;
}
#i{
    font-size: 70px;
    margin-right:3vw;
}

@media only screen and (max-width: 850px) {
    .home{
        flex-direction: column;
    }
    .col1{
        width:100vw;
    }
    .col2{
        width:100%;
    }
    .row1{
        flex-direction: column;
    }
    .col3{
        width:100%;
    }
    .col4{
        width:100%;
    }
    .col1 fieldset{
        max-width:80%;
        margin:5%;
        padding-left: 0.6rem;
        padding-bottom: 20px;
    }

}
  
