.prohome{
    font-family: 'Acme', sans-serif;
}
#proimg{
    width:100%;
    display: flex;
    justify-content: center;
}
#proimg img{
    margin-top: 20px;
    width: 60%;
    border-radius: 50%;
    cursor: pointer;
    border:10px solid white;
    -webkit-box-shadow: 6px 6px 14px rgba(0,0,0,0.3);
    box-shadow: 6px 6px 14px rgba(0,0,0,0.3);
}
.rotclk{   
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 1000ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 1000ms;
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: linear;   
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
.rotant{   
    -webkit-animation-name: spin1;
    -webkit-animation-duration: 500ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin1;
    -moz-animation-duration: 500ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin1;
    -ms-animation-duration: 500ms;
    -ms-animation-iteration-count: 1;
    -ms-animation-timing-function: linear;   
    animation-name: spin1;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
@-ms-keyframes spin1 {
    from { -ms-transform: rotate(360deg); }
    to { -ms-transform: rotate(0deg); }
}
@-moz-keyframes spin1 {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes spin1 {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0deg); }
}
@keyframes spin1 {
    from {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(0deg);
    }
}