.card {
    position: relative;
    float: left;
    margin-right: 10px;
    width: 75px;
    height: 110px;
    border-radius: 10px;
    background: #fff;
    -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
  }
  .card img {
    display:flex;
    justify-content: center;
    height:30px;
    width:30px;
  }
  .suitdiamonds:before, .suitdiamonds:after {
    content: " ";
    color: #0000FF;
  }
   
  .suithearts:before, .suithearts:after {
    content: " ";
    color: #ff3300;
  }
   
  .suitclubs:before, .suitclubs:after {
    content: " ";
    color: #2e2eb8;
  }
   
  .suitspades:before, .suitspades:after {
    content: " ";
    color: #33cc00;
  }
  .suitstwitter:before, .suitstwitter:after {
    content: " ";
    color: #33cc00;
  }
  div[class*='suit']:before {
    position: absolute;
    font-size: 15px;
    left: 5px;
    top: 5px;
  }
   
  div[class*='suit']:after {
    position: absolute;
    font-size: 15px;
    right: 5px;
    bottom: 5px;
  }
  .hand {
    margin: 30px;
  }
   
  /* For modern browsers */
  .hand:before,
  .hand:after {
      content:"";
      display:table;
  }
   
  .hand:after {
      clear:both;
  }
   
  /* For IE 6/7 (trigger hasLayout) */
  .hand {
      zoom:1;
  }
   
  .card:hover {
    cursor: pointer;
  }
  .spread {
    width: 175px;
    height: 125px;
    position: relative;
  }
   
  .spread > .card {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: top 0.3s ease, left 0.3s ease;
    -moz-transition: top 0.3s ease, left 0.3s ease;
    -o-transition: top 0.3s ease, left 0.3s ease;
    -ms-transition: top 0.3s ease, left 0.3s ease;
    transition: top 0.3s ease, left 0.3s ease;
  }
  
  .spread:hover .suittwitter {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
   
  .spread:hover .suitdiamonds {
    left: 25px;
    top: 0px;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
   
  .spread:hover .suithearts {
    left: 50px;
    top: 5px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .sm{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
  }
   
  .spread:hover .suitclubs {
    left: 75px;
    top: 10px;    
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
  }
   
  .spread:hover .suitspades{
    left: 100px;
    top: 15px;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  .spread > .card:hover {
    -webkit-box-shadow: 1px 1px 7px rgba(0,0,0,0.4);
    box-shadow: 1px 1px 7px rgba(0,0,0,0.4);
  }
  a{
    text-decoration: none;
  }
  @media only screen and (max-width: 850px) {
    .card {
      position: relative;
      float: left;
      margin-right: 10px;
      width: 75px;
      height: 110px;
      border-radius: 10px;
      background: #fff;
      -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
      box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
    }
    .card img {
      display:flex;
      justify-content: center;
      height:30px;
      width:30px;
    }
    .suitdiamonds:before, .suitdiamonds:after {
      content: " ";
      color: #0000FF;
    }
     
    .suithearts:before, .suithearts:after {
      content: " ";
      color: #ff3300;
    }
     
    .suitclubs:before, .suitclubs:after {
      content: " ";
      color: #2e2eb8;
    }
     
    .suitspades:before, .suitspades:after {
      content: " ";
      color: #33cc00;
    }
    div[class*='suit']:before {
      position: absolute;
      font-size: 15px;
      left: 5px;
      top: 5px;
    }
     
    div[class*='suit']:after {
      position: absolute;
      font-size: 15px;
      right: 5px;
      bottom: 5px;
    }
    .hand {
      margin: 30px;
    }
     
    /* For modern browsers */
    .hand:before,
    .hand:after {
        content:"";
        display:table;
    }
     
    .hand:after {
        clear:both;
    }
     
    /* For IE 6/7 (trigger hasLayout) */
    .hand {
        zoom:1;
    }
     
    .card:hover {
      cursor: pointer;
    }
    .spread {
      width: 175px;
      height: 125px;
      position: relative;
    }
     
    .spread > .card {
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transition: top 0.3s ease, left 0.3s ease;
      -moz-transition: top 0.3s ease, left 0.3s ease;
      -o-transition: top 0.3s ease, left 0.3s ease;
      -ms-transition: top 0.3s ease, left 0.3s ease;
      transition: top 0.3s ease, left 0.3s ease;
    }
    
    .spread .suitdiamonds {
      -webkit-transform: rotate(-10deg);
      -moz-transform: rotate(-10deg);
      -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
      transform: rotate(-10deg);
    }
     
    .spread .suithearts {
      left: 30px;
      top: 0px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    .spread .suitclubs {
      left: 60px;
      top: 5px;
      -webkit-transform: rotate(10deg);
      -moz-transform: rotate(10deg);
      -o-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
      transform: rotate(10deg);
    }
     
    .spread .suitspades{
      left: 80px;
      top: 10px;
      -webkit-transform: rotate(20deg);
      -moz-transform: rotate(20deg);
      -o-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
      transform: rotate(20deg);
    }
    .card:hover {
      -webkit-box-shadow: 1px 1px 7px rgba(0,0,0,0.4);
      box-shadow: 1px 1px 7px rgba(0,0,0,0.4);
    }

  } 